{% extends 'base.html' %}

{% block title %} Pie｜About {% endblock %}

{% block name %} <h3>关于 <span>我</span></h3> {% endblock %}

{% block content %}

<div class="arlo_tm_section" id="services">
	<div class="arlo_tm_services">
		<div class="container">
			<div class="arlo_tm_main_title" style="text-align:center">
			</div>
			<hr>
			<p>
                ......
            </p>
			<hr>
			<div class="arlo_tm_main_title" style="text-align:center">
			</div>
		</div>
	</div>
</div>

<style>
	p {font-size:19px;}
	.tit{color:#FFFFFF}
</style>

{% endblock %}
