{% extends 'base.html' %}

{% block title %} Pie｜About {% endblock %}

{% block content %}
<!-- /TOPBAR --><!-- HERO -->
{#<div class="arlo_tm_hero" id="home">#}
{#	<div class="background">#}
{#		<div class="image" data-img-url="../../static/img/B钢铁侠.jpg"></div>#}
{#		<div class="overlay"></div>#}
{#	</div>#}
{##}
{#	<div class="content">#}
{#		<hr>#}
{#		<div class="name_holder">#}
{#			<h3>回到古代见 <span>李白</span></h3>#}
{#			<h6>&nbsp;</h6>#}
{#			<h4 class="tit">一个自学编程的笨小孩</h4>#}
{#			<h4 class="tit">笨小孩有句口头禅</h4>#}
{#		</div>#}
{#		<div class="text_typing">#}
{#			<p>&nbsp;<span class="arlo_tm_animation_text_word"></span>&nbsp;</p>#}
{#		</div>#}
{#			<br>#}
{#			<h4 class="tit">笨小孩有些理想主义,就像是期待与你的相遇</h4>#}
{#		<hr>#}
{#	</div>#}
{#	<!-- mao点 -->#}
{#	<div class="arlo_tm_arrow_wrap bounce anchor">#}
{#		<a href="#services"><i class="xcon-angle-double-down"></i></a>#}
{#	</div>#}
{#</div>#}
<!-- /HERO -->

<div class="arlo_tm_section" id="services">
	<div class="arlo_tm_services">
		<div class="container">
			<div class="arlo_tm_main_title" style="text-align:center">
			</div>
			<hr>
			<p>
                ......
            </p>
			<hr>
			<div class="arlo_tm_main_title" style="text-align:center">
			</div>
		</div>
	</div>
</div>

<style>
	p {font-size:19px;}
	.tit{color:#FFFFFF}
</style>

{% endblock %}
