{% extends 'base.html' %}

{% block title %} Pie｜Talk {% endblock %}

{% block content %}
{#<div class="arlo_tm_hero" id="home">#}
{#	<div class="background">#}
{#		<div class="image" data-img-url="../../static/img/B遗迹.jpg"></div>#}
{#		<div class="overlay"></div>#}
{#	</div>#}
{##}
{#	<div class="content">#}
{#		<div class="image_wrap">#}
{#			<div class="main" data-img-url="../..static/img/T沉思.jpg"></div>#}
{#		</div>#}
{#		<div class="name_holder">#}
{#			<h3>留言 <span>记录墙</span></h3>#}
{#		</div>#}
{#		<div class="text_typing">#}
{#			<p>&nbsp;<span class="arlo_tm_animation_text_word"></span>&nbsp;</p>#}
{#		</div>#}
{#	</div>#}
{#	<!-- mao点 -->#}
{#	<div class="arlo_tm_arrow_wrap bounce anchor">#}
{#		<a href="#services"><i class="xcon-angle-double-down"></i></a>#}
{#	</div>#}
{#</div>#}
<!-- /HERO -->

<!-- SERVICES -->
<div class="arlo_tm_section" id="services">
	<div class="arlo_tm_services">
		<div class="container">
			<div class="arlo_tm_main_title" style="text-align:center">
				<div style="text-align:center">
                    <span><a href="#" style="color: #8888;"><h2>留下你想说的话</h2></a></span><hr>
                    <div>
						<div class="service_inner">
							<ul>
{#							{% for i in message_list %}#}
{#								<li class="wow fadeInLeft" data-wow-duration="1.5s">#}
{#									<p style="font-size:5px">{{ i[0] }}</p>#}
{#								<div class="inner">#}
{#									<img class="svg" src="../../static/images/5.svg" alt="" />#}
{#									<h3>{{ i.title }}</h3>#}
{#									<p>{{ i.body|safe }}</p>#}
{#								</div>#}
{#								</li>#}
{#							{% endfor %}#}
							</ul>
						</div>
						<hr>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}