{% extends "base.html" %}

{% block title %} Pie｜Home {% endblock %}

{% block name %} <h3>音乐 <span>列表</span></h3> {% endblock %}

{% block content %}

<div class="arlo_tm_section" id="services">
	<div class="arlo_tm_services">
		<div class="container">
			<hr>
			<div class="service_inner">
				<ul>
                    {% for music in music_list %}
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <div class="inner" style="text-align:center">
                                <img class="svg" src="../../static/images/1.svg" alt="" />
                                <div>
                                    <audio id="{{ 'audio'+music[0] }}" src="/static/musics/{{ music[1] }}.mp3" preload="auto"></audio>
                                </div>
                                <div style="text-align:center">
                                    <h5 id = "{{ 'music_name'+music[0] }}">{{ music[1] }}</h5>
                                    <button id="{{ 'btn_play'+music[0] }}">点击播放</button>
                                    <button id="{{ 'btn_stop'+music[0] }}">点击暂停</button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
				</ul>
                <hr>
			</div>
		</div>
	</div>
</div>

<script language="javascript">
    let obj_list = Array()
    for (let i=1;i<=6;){
        let audio = document.getElementById("audio"+i);
        let btn_play = document.getElementById("btn_play"+i);
        let btn_stop = document.getElementById("btn_stop"+i);
        let three_list = Array(audio, btn_play, btn_stop)
        obj_list.push(three_list);
        i++;
    }
    console.log(obj_list);
    for (let three in obj_list){
        let audio = three[0]
        let btn_p = three[1]
        let btn_s = three[2]
        btn_p.addEventListener('click', function (){
            console.log(1)
            if(audio.paused){
				audio.play();
			}
        })
        btn_s.addEventListener('click', function (){
            if(audio.played){
				audio.pause();
			}
        })
    }
</script>

{% endblock %}

