{% extends "base.html" %}

{% block title %} Pie｜Home {% endblock %}

{% block content %}

<!-- /TOPBAR --><!-- HERO -->
{#<div class="arlo_tm_hero" id="home">#}
{#	<div class="background">#}
{#		<div class="image" data-img-url="../../static/images/B荒岭.jpg"></div>#}
{#		<div class="overlay"></div>#}
{#	</div>#}
{##}
{#	<div class="content">#}
{#		<div class="image_wrap">#}
{#			<div class="main" data-img-url="../../static/images/T抽象.jpg">#}
{##}
{#			</div>#}
{#		</div>#}
{#		<div class="name_holder">#}
{#			<h3>原创文章 <span>列表</span></h3>#}
{#		</div>#}
{#		<div class="text_typing">#}
{#			<p>&nbsp;<span class="arlo_tm_animation_text_word"></span>&nbsp;</p>#}
{#		</div>#}
{#	</div>#}
{#	<!-- mao点 -->#}
{#	<div class="arlo_tm_arrow_wrap bounce anchor">#}
{#		<a href="#services"><i class="xcon-angle-double-down"></i></a>#}
{#	</div>#}
{#</div>#}
<!-- /HERO -->

<!-- SERVICES -->
<div class="arlo_tm_section" id="services">
	<div class="arlo_tm_services">
		<div class="container">
			<div class="arlo_tm_main_title" style="text-align:center">
				<h3>文章列表</h3>
				<span>建议使用电脑浏览器浏览下面的文章以拥有最佳体验</span>
			</div>
			<hr>
			<div class="service_inner">
				<ul>
					<li class="wow fadeInLeft" data-wow-duration="1.5s">
						<div class="inner" style="text-align:center">
							<img class="svg" src="../../static/images/4.svg" alt="" />
							<a href="#"><h3>P1</h3></a>
							<p>......</p>
						</div>
					</li>
					<li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.2s">
						<div class="inner" style="text-align:center">
							<img class="svg" src="../../static/images/4.svg" alt="" />
							<a href="#"><h3>P2</h3></a>
							<p>......</p>
						</div>
					</li>
					<li class="wow fadeInLeft" data-wow-duration="1.5s">
						<div class="inner" style="text-align:center">
							<img class="svg" src="../../static/images/4.svg" alt="" />
							<a href="#"><h3>P3</h3></a>
							<p>......</p>
						</div>
					</li>
					<li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.2s">
						<div class="inner" style="text-align:center">
							<img class="svg" src="../../static/images/4.svg" alt="" />
							<a href="#"><h3>P4</h3></a>
							<p>......</p>
						</div>
					</li>
					<li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.4s">
						<div class="inner" style="text-align:center">
							<img class="svg" src="../../static/images/4.svg" alt="" />
							<a href="#"><h3>P5</h3></a>
							<p>......</p>
						</div>
					</li>
					<li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.4s">
						<div class="inner" style="text-align:center">
							<img class="svg" src="../../static/images/4.svg" alt="" />
							<a href="#"><h3>P6</h3></a>
							<p>......</p>
						</div>
					</li>
				</ul>
			</div>
			<hr>
			<div class="arlo_tm_main_title" style="text-align:center">
				<span>建议使用电脑浏览器浏览下面的文章以拥有最佳体验</span>
				<h3>立刻行动</h3>
			</div>
		</div>
	</div>
</div>

{% endblock %}